<main>
    <div id="logFormCard">
        <h1>Iniciar Sesion</h1>
        <form id="logForm">
            <label for="email">Email</label>
            <input type="email" name="email">
            <br>
            <label for="password">Password</label>
            <input type="password" name="password">
            <br>
            <input type="submit" value="Iniciar Sesion">
        </form>
        <div id="logRegister">
            <p>Nuevo usuario?</p>
            <a href="/register">Registrate</a>
        </div>
    </div>
</main>
<script src="/js/inicio.js"></script>